<mat-card class="shipping-rates-card" [ngClass]="{ 'no-rates': rates.length === 0 }">
    <mat-card-content>
      <h2 mat-subheader>Shipping Rates</h2>
      <table mat-table [dataSource]="rates" >
        <!-- carrier Column -->
        <ng-container matColumnDef="carrier">
          <th mat-header-cell *matHeaderCellDef> carrier </th>
          <td mat-cell *matCellDef="let rate"> {{ rate.carrier }} </td>
        </ng-container>
  
        <!-- Service Column -->
        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef> Service </th>
          <td mat-cell *matCellDef="let rate"> {{ rate.service }} </td>
        </ng-container>
  
        <!-- Currency Column -->
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef> Currency </th>
          <td mat-cell *matCellDef="let rate"> {{ rate.currency }} </td>
        </ng-container>
  
        <!-- Rate Column -->
        <ng-container matColumnDef="rate">
          <th mat-header-cell *matHeaderCellDef> Rate </th>
          <td mat-cell *matCellDef="let rate"> {{ rate.rate }} </td>
        </ng-container>
  
        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="['carrier', 'service', 'currency', 'rate']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['carrier', 'service', 'currency', 'rate']"></tr>
      </table>
      <h2 mat-subheader *ngIf="rates.length === 0">No shipment rates available.</h2>
    </mat-card-content>
  </mat-card>
  